<%#= collection_select(Neighborhood, :name, Neighborhood.all.sort_by{|n| n.name}, :name, :name,{:include_blank => "Please select neighborhood type"})%>

<li><%= link_to neighborhood.name, neighborhood_path(neighborhood) %></li>

