<div class="col-md-4">
<%= link_to "#{neighborhood.name}, #{neighborhood.borough}", neighborhood_path(neighborhood) %><br>
<%= image_tag(neighborhood.get_flickr_url, size: "200x200", alt: neighborhood.name) %><br>
</div>