<h1>NYC Neighborhoods</h1>

<%= form_for(@neighborhood, :id => "neighborhood_selector") do |f| %>
     <%= f.collection_select :id, Neighborhood.all,:id,:name, :prompt => "Please select neighborhood" %>
    <%= f.submit value: "Let's Go!" %>
<% end %>

