// Place all the styles related to the Neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map_canvas {
  width: 100%;
  height: 450px;
}
iframe#google-map {
  width: 100%;
  height: 450px;
}

blockquote.twitter-tweet p.e-entry-title{
  width: 100%;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
}

.neighborhood-dropdown {
  display: none;
}

blockquote.twitter-tweet body{
  width: 100%;
  display: none;
}
